body {
background: black;
color: white;
margin: 0px;
font-family: "Montserrat", sans-serif;
}

header {
border-bottom: solid 2px white;
padding: 20px;
font-size: 32px;
color: red;
}

section {
background: red;
padding-top: 80px;
padding-bottom: 80px;
display:flex;
justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1 {
font-size: 40px;
}

img {
height: 500px;
width: 400px;
}
